body{
    margin:0;
    font-family:Arial, sans-serif;

    background-color:#f8edf2;

    color:#444;
}


header{

    background-color:#d89bb3;

    color:white;

    text-align:center;

    padding:30px;

}


nav{

    text-align:center;

    padding:15px;

    background-color:#edd3dd;

}