body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    background: linear-gradient(
        180deg,
        #fff8fb,
        #ffeef5,
        #f9d8e6
    );
    color: #444;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

h1 {
    width: 100%;
    text-align: center;
    color: #cb6d93;
    font-family: "Fredoka", sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
}

main p {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #777;
}

section {
    background: white;
    width: 320px;
    padding: 20px;
    border-radius: 25px;
    border: 3px solid #cb6d93;
    transition: .3s;
}

section:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,.12);
}

h2 {
    color: #d979a0;
    font-family: "Fredoka", sans-serif;
    text-align: center;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    display: block;
    background: #fff0f6;
    padding: 12px;
    border-radius: 15px;
    text-decoration: none;
    color: #555;
    transition: .2s;
}

a:hover {
    background: #f3bfd2;
    color: white;
    transform: translateX(8px);
}

footer {
    width: 100%;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    background: #f3bfd2;
    color: #9b5b78;
}

footer p {
    margin: 0;
}

@media (max-width:768px) {
    section {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }
}